@import "tailwindcss";

@theme {
  --color-primary-dark: #4C1D3D;
  --color-primary-muted: #852E4E;
  --color-brand: #A33757;
  --color-accent: #DC586D;
  --color-warm: #FB9590;
  --color-light: #FFBB94;
}

body {
  @apply bg-[#FFFBF9] text-primary-dark antialiased;
}